@import "../../App.scss";

.delivery_block{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    width: 1280px;
    h2{
      margin: 32px 0px;
      font-size: 36px;
      font-weight: 500;
    }
    &__block{
      display: flex;
      flex-direction: row;
    }
  }
}

.block-info{
  background: none;
  width: 281.5px;
  display: flex;
  &:not(:last-child){
    margin: 0px 51.18px 20px 0px;
  }
  flex-direction: column;
  font-size: 16px;
  h1{
    color: #FF6900;
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 0;
    width: 100%;
  }
  p{
    margin-top: 0;
  }
  &-map{
    border: 0;
    background: none;
    position: relative;
    width: 281px;
    height: 290px;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
    img{
      width: 100%;
      display: block;
    }
    a{
      color: black;
      font-size: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(195, 195, 195, 0.1);
      z-index: 2;
    }
  }
}